@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

.btn:focus{
   outline: unset!important;
   box-shadow: none!important;
   border: none!important;
}



/****custom coding**/

li, a {
   list-style: none;

}

h1 {
    color : #f16331;
    font-weight: bold;
    text-transform: capitalize;
}

h2 {
    color : #f16331;
    font-weight: 700;
    text-transform: capitalize;
}

h5 {
    color : #f16331;
    font-weight: 700;
    text-transform: capitalize;
}


.section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}



/*******scroll bar*****/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #f16331;
}
::-webkit-scrollbar-track{
    background-color: white;
}


.main-btn {
    background-color: #f16331;
    -webkit-transition: 2s ease-in-out;
    -moz-transition:  2s ease-in-out;
    transition: 0.2s ease-in-out;
    line-height: 1.5rem;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    

}


.main-btn:hover {
    background-color: transparent;
    color : #f16331;
    border: 1px solid #f16331;

  
}

.white-btn {
    background-color: transparent;
    -webkit-transition: 2s ease-in-out;
    -moz-transition:  2s ease-in-out;
    transition: 0.2s ease-in-out;
    line-height: 1.5rem;
    font-weight: 500;
    color : #f16331;
    /* border: 1px solid #f16331; */
    font-size: 1rem;
    margin-left: 2rem;
    

}


.white-btn:hover {
    /* background-color: #f16331; */
    color : #f16331;
    border: 1px solid #f16331;

  
}




/*****navbar******/

.header_wrapper .navbar{
    padding: 0!important;
   

  
   
}

.header_wrapper button:focus {
 border : none!important;
 box-shadow: unset;
}
.header_wrapper button i {
    color: #f16331;
}

.header_wrapper .nav-item {
    padding: 10px;
    line-height: 3.5rem;
}

.header_wrapper .nav-item .nav-link {
    color: #f16331;
    font-weight: 600;
    word-spacing: 0.5rem;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
       color: #f62f09;
       
}



.header_wrapper .navbar-brand {
    padding: 0!important;
}

.header_wrapper .navbar-brand img{
    width: 6.25rem!important;
   

    
}

.header_wrapper .scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0.1rem 1rem 0 rgb(0,0,0,0.4);
    transition: 0.9 ease-in-out;
}

/*******Count Number*********/

.count_number {
    background-color: #f16331;
     height: 200px;
     padding-top: 2.1rem;
     text-align: center;
}

.count_number h2 {
   color: white;
}
.count_number p{
    color: white;
    text-transform: uppercase;
}


/******Banner section******/

.banner-wrapper {
    height: 500px;
    width: 100%;
    background : url('../image/Banner.jpg') no-repeat center;
    background-size: cover;
    margin-top: 4rem;
   
}

.banner-wrapper .banner-text {
    padding-top: 8.265rem;
    line-height: 1.5rem;
}

.about-us .card{
   border: none;
}

.about-us .about-text {
    padding-top: 3rem;
}

.about-us .about-2 {
    padding-top: 7rem;
} 


.about-us ul li{
    list-style-type: none;
   
}


.about-us ul li::before{
    color: #f16331;
    content: "\f35a";
    font-family: "Font Awesome 5 Free";

  


}


.explore_foods .card {
    border: 0;
    border-radius: 1.3rem;
}



.explore_foods img {
    border-radius: 1.3rem;
    max-height: 15rem;
}

.explore_foods span {
    font-size: 1.4rem;
    padding-left: 0.35rem;
    font-weight: 500;
    color: #f16331;
    
}


.testimoney {
    background-color: #f16331;
    min-height: 500px;

}

.testimoney .carousel-item {
margin-top: 3rem;
padding: 10rem 3rem;
background-color: white;
border-radius: 1rem;
text-align: center;

    
    
}

.testimoney .carousel-caption img {
   max-width: 9rem;
   max-height: 9rem;
   border-radius: 100%;
   padding: 0.9rem;
}


.testimoney .carousel-caption p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0 11% 0.625rem;
    color: rgb(15, 15, 15);
}


.testimoney .carousel-indicators button{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: gray;
    margin-left: 0.3rem;
}


.addition_info {
    margin-top: 12rem;
    min-height: 320px;
    background: url('../image/addtinal-info.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.FAQ h2::after {
   display: block;
   content: "";
   height: 4px;
   width: 50px;
   background-color: #f16331;
   margin: 20px 500px;

}

.footer-section  {
    min-height: 250px;
    background-color: #f16331;
}

.footer-section  li
  {
    display: inline-block;
    padding-left: 3rem;
    margin-top: 3rem;
    text-decoration: none;
}

.footer-section  li a
  {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.footer-section .footer-icon li{
     margin-left: 0.5rem;
     font-size: 1.2rem;
}

.footer-section .copyright_footer span {
    margin-left : -0.8rem;
    margin-top: 2rem;
    font-size: 1rem;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #b83b0e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
  }
  
  #myBtn:hover {
    background-color: #f16331;
  }



/*******RESPOSEBE****/


@media(max-width : 991px) {
    /****navbar *****/

    .header_wrapper .nav-item {
        line-height: 0;
        text-align: center;
        background-color: white;
    }

    /****cursor desing***/
    .testimoney .carousel-caption p {
        padding: 0;
    }
    

    /*****faq****/

.FAQ h2::after {
    margin: 20px 300px;
 
 }
    
}


@media(max-width : 767px) {

    /****navbar *****/

.header_wrapper .nav-item {
    line-height: 0;
    text-align: center;
    background-color: white;
}


/*******Count Number*********/

.count_number {
  
     height: 420px;
    
}


.count_number h2, p{
  
    text-align: center;
    padding-bottom: 1rem;
   
}

    /***about***/

    .about-us .about-2 .about-text-2 h2 {
        padding-top: 1.5rem;
    } 

  
    /****explore food***/

    .explore_foods .card {
        padding-bottom: 2rem;
    }

     /****cursor desing***/


     .testimoney .carousel-item {
        padding: 11rem 3.125rem;
    }



    /**addition info****/

    .addition_info {
        margin-top: -1rem;
        padding-bottom: 2rem;


    
}

/*****faq****/

.FAQ h2::after {
    margin: 20px 150px;
 
 }


 /***footer***/

 .footer-section  li a
  {
   font-size: 0.8rem;
}

 .footer-section .footer-icon li{
    font-size: 0.8rem;
}

.footer-section .copyright_footer span {

   font-size: 0.8rem;
}

}